<div class="row animated fadeIn fast">
    <div class="col-12 text-center text-white">
        <h3>Dennis Joel TINOCO ROJAS</h3>
    </div>
</div>
<div class="row mt-3 animated fadeIn fast">
    <div class="col-12 text-center">
        <img src="assets/img/profile.png" alt="profile" height="180" class="rounded-circle">
    </div>
</div>
<div class="row mt-3 animated fadeIn fast">
    <div class="col-2"></div>
    <div class="col-8">
        <p class="text-center text-justify text-white">
            Ingeniero de sistemas con varios años de experiencia desarrollando software y amplio dominio de distintos lenguajes de programación (PHP, Go, Javascript, Typescript, Dart, C#, Python, Java, C++, Fox Pro), diseño y desarrollo de base de datos (MsSQL Server, MySQL, PostgreSQL, MongoDB, SQLite). Estoy siempre al tanto de las últimas novedades en el mundo de las tecnologías de la información.
        </p>
    </div>
    <div class="col-2"></div>
</div>
<div class="row mt-3 animated fadeIn fast">
    <div class="col-12 text-center">
        <a class="text-white" href="https://github.com/JoelTinx" target="_blank"><i class="m-2 fa-2x fab fa-github-square"></i></a>
        <a class="text-white" href="https://pe.linkedin.com/in/dennistinoco" target="_blank"><i class="m-2 fa-2x fab fa-linkedin"></i></a>
        <a class="text-white" href="https://twitter.com/joeltinx" target="_blank"><i class="m-2 fa-2x fab fa-twitter-square"></i></a>
        <a class="text-white" href="#" target="_blank"><i class="m-2 fa-2x fab fa-youtube-square"></i></a>
    </div>
</div>
